:root{
    --light-text-color: lightgoldenrodyellow;
    --light-bg-color: lightgoldenrodyellow;
    --dark-text-color: darkblue;
    --dark-bg-color: darkblue;
}
*{
    box-sizing: border-box;
}

/* CSS for header container */

.header-container{
    width: 100%;
    height: 100px;
   
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

/* Dark theme CSS for header container */
.container-dark{
    background-color: var(--dark-bg-color);
    color: var(--light-text-color);
}

/* Light theme CSS for header container */
.container-light{
    background-color: var(--light-bg-color);
    color: var(--dark-text-color);
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    gap: 10px;
}

.logo-container-dark{
    color: lightgoldenrodyellow;

}

.logo-container-light{
    color: darkblue;
}

.logo-container span{
    font-size: 30px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.logo-text-dark{
    color: lightgoldenrodyellow;
}

.logo-text-light{
    color: darkblue;
}


.navlink-group{
    height: 100px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
  
}

.navlink{
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 25px;
    border-bottom: 5px solid transparent;
    transition: all 500ms;
}

.navlink-dark{
    color: lightgoldenrodyellow;
    background-color: darkblue;
}

.navlink-light{
    background-color: lightgoldenrodyellow;
    color: darkblue;
}

.navlink-dark:hover{
    border-color: gold;
    color: gold;
    font-weight: 700;

}

.navlink-light:hover{
    border-color: darkblue;
    color: darkblue;
    font-weight: 700;

}




.is-active{
    border-color: darkblue;
    color: darkblue;
}

.navlink{
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}

.navlink span{

}

.button-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.navbutton{
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    height: 80px;
    width: 80px;
    background-color: lightgray;
}

.search-active{
    background-color: yellow;
   
}

input.animated{
    
    height: 80px;
    border-radius: 10px;
    padding: 30px 20px;
    font-size: 30px;
    width: 500px;
    transition: all 1000ms linear;
}

.display-none{
    display: none;
}

button + input.animated{
    width: 500px;
}

.navbutton-layout{
    height: auto;
    width: auto;
    border-radius: 0;
    box-shadow: none;
    padding: 0;

}

.navbutton:active{
    box-shadow: none;
    border-style:inset;
}

.navbutton img{
    width: 100%;
    height: 100%;
}

i{
    transform: scale(4);
}

@media all and (max-width: 1100px){
    .logo-container span{
        display: none;
    }

    .navlink-group{
       display: none;
      
    }
}