.sidebar-container{
    background-color: lightgrey;
    border-radius: 10px;
    flex: 1 0 30%;
    width: 100%;
    /* min-width: 300px;
    max-width: 400px; */
    height: 100%;
    border: 2px solid black;
    padding: 10px 5px;

    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.sidebar-container > div:not(.element-thumbnail){
    flex: 1 0 30%;
    max-width: 350px;
}

.info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid transparent;
    padding: 2px 4px;
}

.state-selector{
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    color: black;
    background: lightblue;
    text-align: left;
    padding: 0 15px;
    font-size: 16px;
    cursor: pointer;
}


.info-container:hover{
    cursor: pointer;
    border: 2px solid magenta;
}

.info-container label:hover{
    cursor: pointer;
}

.element-thumbnail{
 
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    border: 10px ridge green;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2px;
}

.element-thumbnail-left{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.element-thumbnail-right{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.symbol-text{
    font-weight: 700;
    font-size: 80px;
}

.name-text{
    font-size: 20px;
}

.atomic-weight-text{
    font-size: 20px;

}