.sidebar-container{
    background-color: lightgrey;
    width: 300px;
    min-width: 300px;
    height: 700px;
    border: 2px solid black;
    padding: 10px 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.info-container{
    display: flex;
    justify-content: space-between;
}

.element-thumbnail{
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    border: 10px ridge green;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.symbol-text{
    font-weight: 700;
    font-size: 80px;
}

.name-text{
    font-size: 20px;
}

.atomic-weight-text{
    font-size: 20px;

}