.pt-container{
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    margin: 5px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows:  repeat(8, 1fr);
}

.active-search{
    /* opacity: 0.5; */
    /* animation: move 1000ms linear 0ms infinite alternate forwards; */
}

@keyframes move {
    from{
  
     transform: rotate3d(0deg);
      
    }   

    to{
     
        transform: rotate3d(0, 0, 1, 45deg);
    }
}

.dark-bg{
    background-color: black;
}

.light-bg{
    background-color: white;
}

.light-text{
    color: white;
}

.dark-text{
    color: black;
}

.pt-element-container{
    background-color: white;
    border: thin solid transparent;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dark-border{
    border-color: black;
}

.light-border{
    border-color: white;
}


.filler{
    background-color: transparent;
    border: none;
}


.column-label, .row-label{
    background-color: transparent;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

}

.row-label{
    padding: 0 20px;
}

.g1{
    background-color: lightsalmon;
}

.g2{
    background-color: yellow;
}

.alkali-metal{

}

.tr-metal{
    background-color: pink;
}