*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .modal-window{
    z-index: -9;
    position: absolute;
    left: 15%;
    top: 20%;
    width: 70%;
    height: 70%;
    border: medium ridge black;
    background-color: white;
    padding: 10px 20px;
  }
  
  .modal-window iframe{
    width: 100%;
    height: 100%;
  }
  
  .modal-exit-button{
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: -20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: radial-gradient(black,white);
    border: thin solid beige;
    color: white;
    font-size: 40px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  